@using Sitecore.Data.Items;
@using Sitecore.Mvc.Extensions;
@using Sitecore.Mvc;
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions;
@using Hackathon.Feature.History;


@{
    <div style="height: 200px; padding: 1px 0 0 0;">
        <div class="card">
            <h2 class="card__title">Card Title</h2>
            <h6 class="card__subtitle">Card Subitle</h6>
            <div class="card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
    </div>
}
